@charset "UTF-8";
/**
 * @file
 * Style Imports.
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * @file
 * Variables.
 */
/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */
/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
h1, h2, h3, h4, h5, h6, .content ul, .content ol, dd, p, address, pre, blockquote, table {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .content ul, .content ol, dd, p, address, pre, blockquote, table {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [2] */
}

body {
  margin: 0;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
}

h3 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
.content ul, .content ol, dd {
  margin-left: 48px;
  margin-left: 3rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
/**
 * Not strictly a paragraph, but probably doesn’t need its own section.
 */
/*------------------------------------*\
    #CODE
\*------------------------------------*/
/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* [1] */
}

/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/**
 * 1. Hang the opening quote of the blockquote.
 */
blockquote {
  text-indent: -0.41em;
  /* [1] */
}

/**
 * Set up quote marks on quoting elements. This is very English-based, so we are
 * using “, ”, ‘, and ’ quotes.
 */
blockquote {
  quotes: "“" "”";
  margin-left: 48px;
  margin-left: 3rem;
}
blockquote p:before {
  content: "“";
  content: open-quote;
}
blockquote p:after {
  content: "";
  content: no-close-quote;
}
blockquote p:last-of-type:after {
  content: "”";
  content: close-quote;
}

q {
  quotes: "‘" "’" "“" "”";
  /**
   * If an element opens with an inline quote, let’s hang that.
   */
}
q:before {
  content: "‘";
  content: open-quote;
}
q:after {
  content: "’";
  content: close-quote;
}
q q:before {
  content: "“";
  content: open-quote;
}
q q:after {
  content: "”";
  content: close-quote;
}
q:first-child {
  display: inline-block;
  text-indent: -0.22em;
}

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 12px;
}

/**
 * @file
 * Mixins.
 */
/*From seven theme.*/
/*From seven theme.*/
/**
 * @file
 * Layout elements.
 */
html, body {
  height: 100%;
}

.main-container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
.main-container .main-container {
  height: 72px;
}

footer {
  clear: both;
  position: relative;
  height: 72px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html .main-container .sidebar-first, body .main-container .sidebar-first {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 500px) {
  html .main-container .sidebar-first, body .main-container .sidebar-first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 700px) {
  html .main-container .sidebar-first, body .main-container .sidebar-first {
    width: 14.89362%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
html .main-container .sidebar-second, body .main-container .sidebar-second {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 500px) {
  html .main-container .sidebar-second, body .main-container .sidebar-second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 700px) {
  html .main-container .sidebar-second, body .main-container .sidebar-second {
    width: 14.89362%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
html .main-container section, body .main-container section {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 500px) {
  html .main-container section, body .main-container section {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 700px) {
  html .main-container section, body .main-container section {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 17.02128%;
    clear: none;
  }
}
html footer, body footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 500px) {
  html footer, body footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 700px) {
  html footer, body footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/**
 * @file
 * Design elements.
 */
.branding {
  padding: 1em;
}
@media (min-width: 700px) {
  .branding {
    padding: 3em 2em;
  }
}

.logo {
  color: #fff;
  font-weight: 700;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
}
.logo:hover {
  color: #164666;
}

.slogan {
  color: #20638f;
  line-height: 1;
  font-weight: 300;
}

.views-row {
  padding: .5em 0;
  border-bottom: solid 1px #ecf0f1;
}
.views-row .views-field-title {
  margin: 0;
}

a {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  color: #2472a4;
}

.button {
  text-align: center;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2980B9', endColorstr='#FF164666');
  background-color: #2980b9;
  border: 0;
  color: white;
  text-shadow: #123851 0 -1px 0;
  color: #fff;
  font-family: "Merriweather Sans", sans-serif;
}
.button:hover {
  text-decoration: none;
}
.button:hover {
  background-color: #2472a4;
}
.button:active {
  background-color: #226998;
}
.button.disabled, .button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.button:hover {
  color: #fff;
}

.social-links {
  display: none;
}
@media (min-width: 700px) {
  .social-links {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 2em;
  }
  .social-links .fa {
    margin: 0 .33em 0 0;
  }
}

#scrollUp {
  display: none;
}
@media (min-width: 700px) {
  #scrollUp {
    display: block;
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url(../img/top.png) no-repeat;
  }
}

.tabs {
  margin: 0 0 2em 0;
}
.tabs li {
  display: inline;
  margin: 0 1em 0 0;
}

.messages {
  margin-bottom: 1em;
}

.link-wrapper ul,
ul.inline li {
  margin: 0;
  padding: 0;
}

pre {
  background: #34495e;
  word-wrap: break-word;
  color: #fff;
  overflow: scroll;
}
pre table {
  margin: 0;
}
pre th,
pre td {
  padding: 0;
}

pre, code {
  font-family: 'Monaco', courier, monospace;
}

pre .comment {
  color: #75715E;
}

pre .constant {
  color: #AE81FF;
}

pre .storage {
  color: #66D9EF;
}

pre .string, pre .comment.docstring {
  color: #E6DB74;
}

pre .support.tag {
  color: #fff;
}

pre .keyword {
  color: #F92672;
}

pre .selector {
  color: #F92672;
}

pre .inherited-class {
  font-style: italic;
}

pre .operator, pre .support.tag-name, pre .entity.tag {
  color: #F92672;
}

pre .entity, pre .support.attribute, pre .entity.attribute {
  color: #A6E22E;
}

pre .support, *[data-language="c"] .function.call {
  color: #66D9EF;
}

*[data-language="html"] .support.operator {
  color: #fff;
}

pre .css-property, pre .storage.function {
  font-style: italic;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #A6E22E;
}

.rainbow {
  border-spacing: 0;
  border-collapse: collapse;
}

.rainbow .line:hover {
  background-color: #171b1c;
}

.rainbow .line:hover .line-number {
  background-color: #101313;
}

.rainbow .line .line-number {
  text-align: right;
  background-color: #1b2022;
  padding-left: 0.8em;
  padding-right: 0.8em;
  color: #bdc3c7;
}

.rainbow .line .line-number:before {
  content: attr(data-line-number);
}

.rainbow .line .line-code {
  width: 100%;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="color"],
input[type="file"],
input[type="password"],
textarea,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  padding: 7px 4px 7px 10px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  color: #000;
  border-color: rgba(0, 116, 189, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(220, 220, 220, 0.4);
  outline-color: rgba(0, 116, 189, 0.5);
}

/**
 * @file
 * Navigation.
 */
.menu--main .menu {
  border-top: 1px solid #2386c8;
}
.menu--main .menu li {
  list-style-type: none;
}
.menu--main .menu li a {
  display: block;
  padding: .5em 1em;
  color: #fff;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.26316;
  letter-spacing: 1px;
  border-bottom: 1px solid #2386c8;
}
.menu--main .menu li a:hover {
  background: #2b94d9;
  color: #e6e6e6;
}
@media (min-width: 700px) {
  .menu--main .menu li a {
    padding: .5em 10%;
  }
}

.naver .naver-handle {
  cursor: pointer;
  display: none;
  user-select: none;
}

.naver .naver-handle:before {
  display: block;
  content: "\f039";
  font-family: FontAwesome;
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

.naver .naver-wrapper {
  height: auto;
}

.naver .naver-container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

@media (min-width: 900px) {
  .naver .naver-wrapper {
    height: auto !important;
  }
}
@media screen and (max-width: 700px) {
  .naver.active .naver-handle {
    display: block;
    position: absolute;
    top: 2em;
    right: 1em;
  }

  .naver.active .naver-wrapper {
    height: 0px;
    overflow: hidden;
  }

  .naver.animated .naver-wrapper {
    transition: height 0.2s ease-out;
  }

  .naver.animated .naver-container {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  .naver.animated.open .naver-container {
    opacity: 1;
  }
}
/**
 * @file
 * Typography
 */
body {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #2c3e50;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  color: #34495e;
}

h1 {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 1.14286;
}

h2 {
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1.41176;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.content ul {
  list-style-position: inside;
  list-style-type: disc;
}

.content ol {
  list-style-position: inside;
  list-style-type: decimal;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

blockquote {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

hr {
  background: none;
  height: 1px;
  border: 1px solid #ecf0f1;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 400px) {
  .content {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
  }
}

/*# sourceMappingURL=style.css.map */
