/**
 * @file
 * Layout elements.
 */

@include sgs-change('mobile first', true);
@include sgs-change('debug', false);
@include sgs-change('output', 'isolation');


@import "compass/layout/sticky-footer";
@include sticky-footer(72px, ".main-container", ".main-container", "footer");


* {
  @include box-sizing('border-box');
}

html, body {

// Reponsive grids.
@include add-grid(3);
@include add-grid(6 at $phablet);
@include add-grid(12 at $break-medium);
// @include add-grid(2 8 2 at $break-large);


@include add-gutter(1/3);
@include add-gutter(.25 at $break-large);
@include background-grid($color: #afafaf);


  // header{
  //   .navbar-header{
  //          // @include background-grid($color: red);
  //   }
  //   .navbar-collapse{
  //   }
  // }

  // Main container
  .main-container{
      // heading section
      .heading{
      // @include grid-span(3, 1);
      // @include breakpoint($phablet){
      //     @include grid-span(6, 1);
      // }
      // @include breakpoint($break-medium) {
      //   @include grid-span(12, 1);
      // }
      // @include background-grid($color: gray);
      }
      // sidebar first
      .sidebar-first{
        @include grid-span(3, 1);
        @include breakpoint($phablet){
          @include grid-span(6, 1);
        }
        @include breakpoint($break-medium) {
          @include grid-span(2, 1);
        }
      }
            // sidebar second
      .sidebar-second{
        @include grid-span(3, 1);
                @include breakpoint($phablet){
          @include grid-span(6, 1);
        }
        @include breakpoint($break-medium) {
          @include grid-span(2, 11);
          // background-color: red;
        }
      }

      // main content
      section{
        @include grid-span(3, 1);
        @include breakpoint($phablet){
          @include grid-span(6, 1);
        }
        @include breakpoint($break-medium) {
          @include grid-span(8, 3);
        }
        a#main-content{}
          
      }
  }
  // Footer
  footer{
    @include grid-span(3, 1);
    @include breakpoint($phablet){
        @include grid-span(6, 1);
    }
    @include breakpoint($break-medium) {
      @include grid-span(12, 1);
    }
    @include background-grid($color: gray);

  }
}


