/**
 * @file
 * Variables.
 */

// Grid and Breakpoints
$phablet: 500px;
$break-medium:  700px;
$break-large:  900px;
$break-xxl:   1200px;


$grids: 3;
$grids: add-grid(8 at   $break-medium);
$grids: add-grid(10 at $break-large);

$gutters: 1/3;

// Print no query fallbacks
$breakpoint-no-query-fallbacks: true;
$no-queries: $break-large, 'no-query' '.lt-ie9';

// Typecsset
$typecsset-base-font-size:      16px;
$typecsset-base-line-height:    24px;
// $typecsset-show-baseline:       true;

// Fonts
$body-font: 'Merriweather', serif;
$title-font: 'Merriweather Sans', sans-serif;

// Font Weights
$light: 300;
$normal: 400;
$bold: 700;

// Flat UI Colors
$white: #fff;
$black: #000;

// Grey
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$clouds: #ecf0f1;

// Green
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;

// Blue
$peter-river: #3498db;
$belize-hole: #2980b9;

// Orange
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;

// Red
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;

// Links
$linkColor      : $belize-hole;
$linkHover      : darken($belize-hole, 5%);
$linkVisited    : darken($belize-hole, 15%);
$linkFocus      : $linkHover;
$linkActive     : $linkFocus;
